---
import Layout from '@src/layouts/Layout.astro';
import About from '@src/components/About.astro';
import Skills from '@src/components/Skills.astro';
---

<Layout title="noname">
	<main>
		<About />
		<Skills />
	</main>
</Layout>
