<div class="rounded-[1rem] border-4 border-[#243c5a] flex flex-nowrap" id="about">
    <div class="flex-initial w-1/2 inline-block m-auto">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Hey,soy<span class="text-blue-600 dark:text-blue-500"> Kevin</span></h1>
        <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
            Soy un estudiante de Ingeniería en Sistemas y Ciencias de la Computación de Guatemala. Apasionado por la programación y la tecnología.
        </p>
    </div>
    <div class="flex w-1/2 justify-center">
        <img src="./public/dev-icon.jpg" width="300px" alt="">
    </div>
</div>


<style>
    div{
        background: var(--light-secondary);
        color: var(--light-primary);
        padding: 1em;
    }
</style>