---
import GithubLogo from "@src/icons/github-logo.astro"
import TwitterIcon from "@src/icons/twitter-logo.astro"
import DiscordIcon from "@src/icons/discord-logo.astro"
import LinkedinIcon from "@src/icons/linkedin-logo.astro"
import InstagramIcon from "@src/icons/instagram-logo.astro"
---

<footer class="flex flex-col justify-center items-center">
    <ul class="flex flex-row gap-x-10 pt-5 items-center">
        <li>
            <a 
                href=""
                class="hover:text-[#d10053]"
            >
                Inicio
            </a>
        </li>
        <li>
            <a 
                href=""
                class="hover:text-[#d10053]"
            >
                Proyectos
            </a>
        </li>
        <li>
            <a 
                href=""
                class="hover:text-[#d10053]"
            >
                Sobre mí
            </a>
        </li>
        <li>
            <a 
                href=""
                class="hover:text-[#d10053]"
            >
                Contacto
            </a>
        </li>
    </ul>
    <ul class="flex flex-row gap-x-5 pt-3 items-center">
        <li>
            <a 
                target="_blank"
                rel="noopener"
                href="https://github.com/chevskouski"
                class="hover:scale-125 hover:opacity-70 transition inline-block"
            >
                <GithubLogo />
            </a>
        </li>
        <li>
            <a
                target="_blank"
                rel="noopener"
                href="https://twitter.com/keseprs"
                class="hover:scale-125 hover:opacity-70 transition inline-block"
            >
                <TwitterIcon />
            </a>
        </li>
        <li>
            <a 
                target="_blank"
                rel="noopener"
                href="https://github.com/chevskouski"
                class="hover:scale-125 hover:opacity-70 transition inline-block"
            >
                <LinkedinIcon />
            </a>
        </li>
        <li>
            <a 
                target="_blank"
                rel="noopener"
                href="https://github.com/chevskouski"
                class="hover:scale-125 hover:opacity-70 transition inline-block"
            >
                <InstagramIcon />
            </a>
        </li>
        <li>
            <a 
                target="_blank"
                rel="noopener"
                href="https://github.com/chevskouski"
                class="hover:scale-125 hover:opacity-70 transition inline-block"
            >
                <DiscordIcon />
            </a>
        </li>
    </ul>
    <p class="pb-5 pt-1">© 2024 noname, All rights reserved. 🌵</p>
</footer>

<style>
    footer{
        background: var(--light-secondary);
        color: var(--light-primary);
    }
</style>