---
import Theme from '@src/components/ThemeToggle.astro'
import IconHeader from '@src/icons/cat-icon.astro'
---
<nav class="mx-auto max-w-7xl">
    <div class="flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center">
        <IconHeader />
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <Theme />
    </div>

    <div class="flex flex-col justify-center items-end">
        <ul class="flex flex-row gap-x-10 items-center">
            <li>
                <a 
                    href="#" 
                    class="hover:text-[#d10053]"
                >
                    Inicio
                </a>
            </li>
            <li>
                <a 
                    href="#"
                    class="hover:text-[#d10053]"
                >
                    Proyectos
                </a>
            </li>
            <li>
                <a 
                    href="#"
                    class="hover:text-[#d10053]"
                >
                    Sobre mí
                </a>
            </li>
            <li>
                <a 
                    href="#"
                    class="hover:text-[#d10053]"
                >
                    Contacto
                </a>
            </li>
        </ul>
    </div>
    </div>
  </nav>
  