<div class="pt-8">
    <h1 class="px-8 text-4xl font-extrabold">Skills</h1>
    <div class="pt-4 flex justify-center flex-wrap gap-x-2 gap-y-4">
        <div class="card flex-col">
            <img class="hover:scale-110 transition inline-block" src="./public/astro-logo.svg" alt="">
            <span>Astro</span>
        </div>
        <div class="card flex-col">
            <img class="hover:scale-110 transition inline-block" src="./public/csharp-logo.svg" alt="">
            <span>C#</span>
        </div>
        <div class="card flex-col">
            <img class="hover:scale-110 transition inline-block" src="./public/css-logo.svg" alt="">
            <span>CSS</span>
        </div>
        <div class="card flex-col">
            <img class="hover:scale-110 transition inline-block" src="./public/html-5-logo.svg" alt="">
            <span>HTML5</span>
        </div>
        <div class="card flex-col">
            <img class="hover:scale-110 transition inline-block" src="./public/javascript-logo.svg" alt="">
            <span>Javascript</span>
        </div>
        <div class="card flex-col">
            <img class="hover:scale-110 transition inline-block" src="./public/mysql-logo.svg" alt="">
            <span>MySQL</span>
        </div>
        <div class="card flex-col">
            <img class="hover:scale-110 transition inline-block" src="./public/php-logo.svg" alt="">
            <span>PHP</span>
        </div>
        <div class="card flex-col">
            <img class="hover:scale-110 transition inline-block" src="./public/python-logo.svg" alt="">
            <span>Python</span>
        </div>
        <div class="card flex-col">
            <img class="hover:scale-110 transition inline-block" src="./public/react-logo.svg" alt="">
            <span>React</span>
        </div>
        <div class="card flex-col">
            <img class="hover:scale-110 transition inline-block" src="./public/sql-logo.svg" alt="">
            <span>SQL</span>
        </div>
        <div class="card flex-col">
            <img class="hover:scale-110 transition inline-block" src="./public/typescript-logo.svg" alt="">
            <span>Typescript</span>
        </div>
    </div>
</div>

<style>
    div .card {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
</style>