<div class="pt-8">
    <h1 class="text-4xl font-extrabold">Skills</h1>
    <div class="pt-4 flex flex-wrap">
        <div class="content-center hover:scale-110 transition inline-block">
            <img src="./public/csharp-logo.svg" alt="">
            <span>C#</span>
        </div>
        <div class="content-center hover:scale-110 transition inline-block">
            <img src="./public/css-logo.svg" alt="">
            <span>CSS</span>
        </div>
        <div class="content-center hover:scale-110 transition inline-block">
            <img src="./public/html-5-logo.svg" alt="">
            <span>HTML</span>
        </div>
    </div>
</div>