---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '@fontsource-variable/roboto-mono';
import Background from '@src/components/Background.astro';
import Header from '@src/components/Header.astro';
import Footer from '@src/components/Footer.astro';
---

<!doctype html>
<html lang="es_mx">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Personal portfolio website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Background />
		<Header />
		<br>
		<br>
		<slot />
		<Footer />
		<script src="../scripts/themeToggle.ts"></script>
	</body>
</html>
<style is:global>
	:root {
		color: ;
		--light-primary: #f5f7f9;
		--light-secondary: #0f0f0f;
		--light-neutral: #13151a;
		--light-error: #b3261e;
	}
	html {
		font-family: 'Roboto Mono Variable', system-ui, sans-serif;
		background: var(--light-primary);
		color: var(--light-secondary);
		background-size: 224px;
	}
	html.dark {
		--light-primary: #0f0f0f;
		--light-secondary: #f5f7f9;
	}
</style>
